body{
    margin: 0;
    /* Update font later */
    font-family: Arial, Helvetica, sans-serif; 
}
h1 {
    padding: 2%;
}

/* ------ Navigation ------ */
.navigation {
    border-bottom: 1px solid #B2B2B2;
}
.logo {
    height:100px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline-block logo { 
    /* Coding here doesn't change anything */
    width: 23%;
}
nav {
    width: 92%;
    padding: 1px;
    text-align: right;
}
nav li {
    padding: 3%;
    font-weight: bold;
}

/* ------ Hero Section ------ */
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
  height:500px;
  padding: 25px;
  border: 1px solid;
}
.content {
    width: 50%;
    margin: 0 auto;
    box-shadow: 5px;
}

/* ----- My Skills Section ------ */
.mySkills {
    height: 700px;
}
.flexContainer {
    display: flex;
}
.skill {
    width:33%;
    margin:30px 50px;
    padding: 30px;

}

/* ------ My Work Section ------ */
.myWork {
    height: 800px;
}
.workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "enroute mindfulReader" 
    "ato ndis";
}
.projectContainer {
    padding: 50px;
    /* top > right > bottom > left */
    margin: 30px 10px 30px 10px;
}
#Enroute {
    grid-area: enroute;
}
#mindfulReader {
    grid-area: mindfulReader;
}
#ATO {
    grid-area: ato;
}
#NDIS {
    grid-area: ndis;
}

/* ----- Footer ------ */
footer {
    background-color: #373738;
    padding-right: 10%;
    color: white;
    font-weight: bold;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 45%;
}
footer li {
    padding: 3%;
}

/* Mobile Media Query */
@media only screen and (max-width: 600) {
    .workGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "enroute"
        "mindfulReader" 
        "ato"
        "ndis";
    }
}